<footer>
    <p> &copy;
        <%= new Date().getFullYear() %> Hidden Tiger Music Inc.</p>
</footer>
</div>

<script src="scripts/dropdown_display.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>
<script src="scripts/wavesurfer.js"></script>

</body>
</html>