<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HT Music Library</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	
	<link rel="stylesheet" href="styles.css">
</head>

<body>

<div class="container-fluid">

	<nav class="navbar navbar-expand-lg  navbar-light bg-light navbar-padding navbar-border" style="background-color: #1D1D1D;">

		<a class="navbar-brand" href="/">
		  	<img src="images/logo.svg" width="180" height="180" class="d-inline-block align-top" alt="">
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse w-100 order-3 dual-collapse2 " id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">

		          <li class="nav-item nav-item-padding active">
		            <a class="nav-link" href="/logout">
		            <i class="fa fa-sign-out fa-1x logout-icon"></i>Logout
		            <span class="sr-only">(current)</span>
		        	</a>
		          </li>       
		    </ul>
		</div>

	    <div class="col-lg-8 waveform-player" >
	      <h2 id="track-title"></h2>
	      <div id="waveform"></div>
	      <i class="fa fa-play fa-2x col-sm liner play-button" id="btn-play" value="Play" disabled="disabled"></i>
		   	  <i class="fa fa-pause fa-2x col-sm liner" id="btn-pause" value="Pause" disabled="disabled"></i>
		   	  <i class="fa fa-stop fa-2x col-sm liner" id="btn-stop" value="Stop" disabled="disabled"></i>
		   	</div>
		   	  <a href="" id="downloader" download>
		   	    <i class="fa fa-download fa-3x download-icon col-sm "></i>
		   	  </a>

	    <!-- </div> -->



	</nav>