<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CMS</title>
		<link rel="stylesheet" href="cms-styles.css">
	</head>
	<body >

	<div>
		<form action="/upload" method="POST" enctype="multipart/form-data" >
			<div id="cms-grid">

				<div id="cms-grid-header">
					<h1>New Entry</h1>
				</div>



				<div class="cms-controls">
				

					<div id="cms-file-entry">
							<label for="file" ></label>
							<input type="file" style="color: red" name="file" id="file" >
						</div>
				
						<div id="cms-track-name">
							<label for="trackname">Track Name</label>
							<input type="text" name="trackname" id="trackname">
						</div>
			
					<div id="cms-track-id">
						<label for="id">ID</label>
						<input type="text" name="id" id="id" >
					</div>
	
						<div class="genre">
							<label for="genre">Genre</label>
							<select class="custom-select" id="genre"  name="genre" multiple="multiple" style="height: 100px">
							         <option value="acoustic">Acoustic</option>
							         <option value="alternative">Alternative</option>
							         <option value="ambient">Ambient</option>
							         <option value="americana">Americana</option>
							         <option value="blues">Blues</option>
							         <option value="bossa">Bossa</option>
							         <option value="brazilian">Brazilian</option>
							         <option value="breakbeat">Breakbeat</option>
							         <option value="childrens">Childrens</option>
							         <option value="chill">Chill</option>
							         <option value="christmas">Christmas</option>
							         <option value="classical">Classical</option>
							         <option value="country">Country</option>
							         <option value="dance">Dance</option>
							         <option value="downtempo">Downtempo</option>
							         <option value="dubstep">Dubstep</option>
							         <option value="disco">Disco</option>
							         <option value="drums">Drums/Percussion</option>
							         <option value="easy listening">Easy Listening</option>
							         <option value="eighties">Eighties</option>
							         <option value="electronic">Electronic</option>
							         <option value="epic">Epic</option>
							         <option value="fanfare">Fanfare</option>
							         <option value="funk">Funk</option>
							         <option value="halloween">Halloween</option>
							         <option value="hardcore">Hardcore</option>
							         <option value="hard rock">Hard Rock</option>
							         <option value="hip hop">Hip Hop</option>
							         <option value="holiday">Holiday</option>
							         <option value="house">House</option>
							         <option value="indie">Indie</option>
							         <option value="jazz" selected>Jazz</option>
							         <option value="jungle">Jungle</option>
							         <option value="latin">Latin</option>
							         <option value="lounge">Lounge</option>
							         <option value="march">March</option>
							         <option value="mnemonic">Mnemonic</option>
							         <option value="new age">New Age</option>
							         <option value="orchestral">Orchestral</option>
							         <option value="pop">Pop</option>
							         <option value="psychedelic">Psychedelic</option>
							         <option value="rap">Rap</option>
							         <option value="reggae">Reggae</option>
							         <option value="retro">Retro</option>
							         <option value="rock">Rock</option>
							         <option value="ska">Ska</option>
							         <option value="soul">Soul</option>
							         <option value="techno">Techno</option>
							         <option value="trip hop">Trip Hop</option>
							         <option value="vocal">Vocal</option>
							         <option value="world">World</option>
							         <option value="zydeco">Zydeco</option>
							       </select>
						</div>
	
								
									
						<div class="available">
							<label for="available">Available</label>
							<select name="available" id="available">
								<option value=""></option>
								<option value="yes">yes</option>
								<option value="no">no</option>
							</select>
						</div>
	
			
	
					<div class="length">
							<label for="length">Length</label>
						<select name="length" id="length" >
							<option value=""></option>
							<option value="00:07">00:07</option>
							<option value="00:15">00:15</option>
							<option value="00:20">00:20</option>
							<option value="00:25">00:25</option>
							<option value="00:30">00:30</option>
							<option value="00:40">00:40</option>
							<option value="00:45">00:45</option>
							<option value="00:55">00:55</option>
							<option value="00:60">00:60</option>
							<option value="00:70">00:70</option>
							<option value="00:80">00:80</option>
							<option value="00:90">00:90</option>
							<option value="00:90">01:20</option>
						</select>
					</div>
			
	
			
				
						<div class="bpm">
							<label for="bpm">Tempo</label>
							<select name="bpm" id="bpm">
								<option value=""></option>
								<option value="slow">slow</option>
								<option value="medium">medium</option>
								<option value="fast">fast</option>
							</select>
						</div>
	
	
						  <div class="description">
						  	<label for="description">Description</label>
						  	<textarea  name="description" id="description"></textarea>
						  </div>
			
					<input type="submit" value="Submit" id="submit-btn"
					style="width: 100px">
				</div>
		
			</div>
		</form>

		<a href="/filemanager" style="color: #000; font-size: 2rem; padding-left: 220px">File Manager</a>
	</div>



	</body>
</html>