<% include partials/header %>

<body class="home-bg">
	
	<nav  style="background-color: white;">

		<a href="/" id="login-logo">
			<img src="images/logo.svg" width="180" height="180" alt="Hidden Tiger Music Logo">
		</a>

		<form action="/" method="POST" autocomplete="on">

			
			
			<div id="login-inputs">
				<h1 id="login-header">Login</h1>
				<div>
					<input value="tiger" id="username" name="username" placeholder="Username"  type="text" required="" autofocus>
				</div>

				<div>
					<input value="tiger" id="password" placeholder="Password"  type="text" name="password" required="">
				</div>

				<div>
					<button type="submit" >Login</button>
				</div>
			</div>


		</form>
		
	</nav>

<% include partials/footer  %>