<% include partials/header %>
		<div class="row">
			<div class="col-md-6 m-auto">
				<h1 class="text-center display-4 my-4">HT Music Search</h1>
				<form action="/result" method="GET"">
					<div class="custom-file mb-3">
						<input type="text" name="genre" id="genre" >
						<label for="genre">Genre</label>
					</div>
					<div class="custom-file mb-3">
						<input type="text" name="length" id="length" >
						<label for="length">Length</label>
					</div>
					<div class="custom-file mb-3">
						<input type="text" name="available" id="available" >
						<label for="available">Available</label>
					</div>
					<div class="custom-file mb-3">
						<input type="text" name="bpm" id="bpm" >
						<label for="bpm">BPM</label>
					</div>
						<input type="submit" value="submit"  class="btn btn-primary btn-block">
				</form>
				<hr>
				
			</div>
		</div>

		<li><a href="/logout">Logout!</a></li>
<% include partials/footer  %>