html {
	font-size: 16px;
}

.available {
	grid-row: 4/span 1;
	grid-column: 5/6;
}

body {
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #000;
}

.bpm {
	grid-row: 4/span 1;
	grid-column: 7/9;
}

.cms-controls {
	display: grid;
	grid-template-rows: 20px 120px 120px 160px 120px 260px;
	grid-template-columns: repeat(8, 1fr);
	padding: 0 50px;
}

#cms-file-entry {
	grid-row: 2/span 1;
}

#cms-file-entry input{
	margin-left: 20px;
	color: red;
}

#cms-grid {
	border-radius: 15px;
	border: 1px solid;
	margin: 60px auto 60px auto;
	display: grid;
	max-width: 1620px;
	background-color: #fefefe;
}

#cms-grid-header {
	color: #fff;
	background-color: lightgrey;
	grid-column: 1/span 8;
	grid-row: 1/span 1;
	margin: 0;
	border-radius: 15px;
}

#cms-grid-header h1 {
	font-size: 2.2rem;
	padding: 20px;
	line-height: 20px;
	margin: 0;
}

#cms-track-alt {
	grid-row: 3/span 1;
	grid-column: 1/span 4;
}

#cms-track-name input {
		width: 50%;
}

#cms-track-id {
	grid-row: 3/span 1;
	grid-column: 5/span 4;
}

#cms-track-id input {
		width: 50%;
}

.description {
	grid-row: 5/span 1;
	grid-column: 1/span 9;
}

.description textarea{
	width: 100%;
}

.genre {
	grid-row: 4/span 1;
	grid-column: 1/2;
}

.genre2 {
	grid-row: 4/span 1;
	grid-column: 2/3;
}

.genre3 {
	grid-row: 4/span 1;
	grid-column: 3/4;
}

label {
	padding-right: 20px;
}

.length {
	grid-row: 4/span 1;
	grid-column: 6/7;
}

#submit-btn {
	font-size: 1.2rem;
	box-shadow: 5px 5px 4px 0px black;
	background-color: green;
	color: #fff;
	grid-row: 6/span 1;
	grid-column: 7/span 1;
	border-radius: 7px;
	height: 40px;
}

.table-container {
	max-width: 80%;
	margin: 50px auto;
}

.table-container table{

	min-height: 1000px;
}