html, body {
	font-size: 16px;
	font-family: Arial;
}

.btn-track-info{
	background-color: #C9DD4B;
	height: 45px;
	text-align: left;
	width: 1000px;
}

.track-li {
	/*height: 45px;*/
	width: 1000px;
}


.master-player {
	margin-bottom: 50px;
	margin-top: -150px;
	/*border: 1px solid;*/
	width: 1200px;
	/*position: fixed;*/
}

.track-group {
	margin-top: 200px;
	/*position: fixed;*/
/*	height: 1000px;
	overflow: scroll;*/
}

.play-button {
	/*border: 1px solid;*/
	padding-right: 20px;
	float: left;
	line-height: 100px;
}


#waveform {
	overflow: hidden;
}

.download-icon {
	padding-bottom: 100px;
	color: #61892f;
}

.login-image {
	width: 50%;
}

.player {
	padding-top: 900px;
}

.brand-center{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    color: #F5F5F5;
}

.ht-title{
	color: #fff;
	width: 1200px;
	padding-left: 400px;
}

.ht-header {
	color: black;
	/*padding-top: 400px;*/
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
	font-size: 4rem;
	/*min-width: 900px;*/
	text-shadow: 6px 4px 12px #0000004a;
}

.login-icon {
	padding-right: 8px;
}

.track-edit {
	margin-top: 400px;
	background-color: red;
}

.register-form {
	padding-top: 400px;
}

.login {
	padding-top: 300px;
}

.home-bg {
	/*background-image: url('images/01.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right top;
	background-color: #C9DD4B;
	background-blend-mode: screen;*/
}

.flex-group {
	display: flex;
	justify-content: space-around;
}

.left-side {
	/*position: absolute;*/
	/*width: 300px;*/
	/*left: 10px;*/
	/*top: 200px;*/
}

.search {
	padding-top: 400px;
}

.navbar-padding{
	padding-left: 60px;
	padding-right: 100px;
}

.nav-item-padding{
	padding-right: 60px;
	font-size: 1.2rem;
}

.results {
	padding-top: 400px;
	/*width: 1270px;*/
	/*margin: auto;*/
}

.index {
	padding-top: 300px;
}

#track-title {
	font-size: 1.3rem;
	color: #6b6e70;
	padding-bottom: 50px;
}

/*.edit-form {
	padding-top: 600px;
}*/


/* 
$htLightGreen: #C9DD4B; 
$htMediumGreen: #5f7030; 	
$htDarkGreen: #61892f;  
$htLightGrey: #999999; 
$htMediumGrey: #333333;  	 
$htDarkGrey: #1D1D1D;  
$htBlack: rgb(0, 1, 0);
$htBlackOpacity: rgba(0, 1, 0, 0.96);
$htWhite: #F5F5F5;   
$htNewGreen: #6b6e70;
$htNewGreen2: #474b4f; 
*/

