html, body {
	font-size: 16px;
	font-family: 'Roboto Mono', monospace;
	box-sizing: border-box;
	margin: 0;
	padding:0;
   height:100%;
}

.available-span {
	color: red;
	padding-left: 50px;
}

#body {
	padding-bottom:250px;   /* Height of the footer */
	margin: auto;
 }

.bpm-span {
	color: blue;
	padding-left: 50px;
}

.brand-center{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    color: #F5F5F5;
}

.btn-genre-search {
	background-color: #61892f;
	color: #fff;
}

#btn-stop:hover, #btn-play:hover, #btn-pause:hover {
	cursor: pointer;
}

.btn-track-info{
	border: none;
	cursor:pointer;
	outline:none;
	color: firebrick;
	font-size: 1.5rem;
}

.chevron-icon {
	color: #fff;
	font-size: 1.5rem;
	padding-left: 10px;
}

.container {
	max-width: 90%;
	margin: 0 auto;
	min-height:100%;
	position:relative;
}

#controls {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border: 2px solid;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 7px 8px 0px 0px black;
	background-color: #fff;
}

#controls > i {
	padding: 10px 40px;
	font-size: 1.5rem
}

#current-track {
	font-size: 1rem;
}

.download-icon {
	color: darkorange;
	opacity: .9;
	font-size: 40px;
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
	top: 6px;
}

.download-icon:hover {
	transform: scale(1.15);
	opacity: 1;
}

.edit-button {
	color: blue;
}

.fa-play, .fa-play {
	color: hotpink;
	opacity: 0.8;
}

.fa-play:hover, .fa-play:hover {
	color: hotpink;
	opacity: 1;
	transform: scale(1.05);
}

footer {
	background-color: rgba(249, 250, 243, .4);
	height: 250px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position:absolute;
	bottom:0;
}

footer p {
	text-align: center;
	font-size: 1rem;
}

footer span {
	padding-left: 12px;
}

.genre {
	font-size: 1rem;
}

#genres-box {
	background-color: mediumseagreen;
	padding: 10px;
}

.genres-header {
	color: #fff;
	font-size: 1.5rem;
}

#genre-selector {
	padding: 20px;
}


h1 {
	position: relative;
	font-size: 200px;
	margin-top: 0;
	font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
	text-shadow: 2px 3px 3px #292929;
	letter-spacing: -7px;
	-webkit-text-stroke: 1px white;
}

h1 a {
	text-decoration: none;
	color: #ffffff;
	position: absolute;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,1)));
	text-shadow: 0 2px 0 #e9e9e9;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

h1:after {
	color: #dbdbdb;
	content : attr(data-title);
}

.home-bg {
	background-image: url('images/01.jpg');
	background-size: 2520px 1690px;
	background-repeat: no-repeat;
	background-position: right top;
	/* background-color: 	hsl(437, 90%, 36%); */
	background-color: #61892f;
	background-blend-mode: screen;
}

.home-login {
	color: #000;
	font-size: 1.7rem;
	background-color: #fff;
	padding: 1.1rem;
	border-radius: 5px;
	width: 200px;
}

.home-login {
	width: 300px;
}

.home-login:hover {
	background-color: lawngreen;
	color: #000;
}

.ht-header {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
	font-size: 4rem;
	letter-spacing: 6px
}

.ht-title{
	color: #fff;
	width: 1200px;
	padding-left: 400px;
}

.id-span {
	padding-right: 30px;
}

#image-box {
	display: flex; 
	 justify-content: space-between; 
}

#image-box-pexel {
	border-radius: 20px;
	width: 180px;
	height: 180px;
}

#info-display {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 90%;
	-ms-align-items: center;
	align-items: center;
	margin: 50px 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 20px;
	background-color: rgba(240, 230, 220, .5);
	box-shadow: 7px 4px 7px 0px #af8c8c78;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 5.95px 0;
  }
  input[type=range]:focus {
	outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5.1px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #247136;
	border-radius: 10.3px;
	border: 0.1px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 17px;
	width: 14px;
	border-radius: 47px;
	background: #dbffa4;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6.05px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: #2a843f;
  }
  input[type=range]::-moz-range-track {
	width: 100%;
	height: 5.1px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #247136;
	border-radius: 10.3px;
	border: 0.1px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 17px;
	width: 14px;
	border-radius: 47px;
	background: #dbffa4;
	cursor: pointer;
  }
  input[type=range]::-ms-track {
	width: 100%;
	height: 5.1px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
  }
  input[type=range]::-ms-fill-lower {
	background: #1e5e2d;
	border: 0.1px solid #010101;
	border-radius: 20.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
	background: #247136;
	border: 0.1px solid #010101;
	border-radius: 20.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 17px;
	width: 14px;
	border-radius: 47px;
	background: #dbffa4;
	cursor: pointer;
	height: 5.1px;
  }
  input[type=range]:focus::-ms-fill-lower {
	background: #247136;
  }
  input[type=range]:focus::-ms-fill-upper {
	background: #2a843f;
  }

.length-span {
	padding-right: 50px;
	float: right;
}

.login {
	padding-top: 300px;
}

.login-btn {
	color: #fff;
}

.login-form {
	font-size: 2rem;
	width: 200px;
}

#login-header {
	font-size: 6rem;
}

.login-image {
	width: 50%;
}

#login-inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	transform: translateY(-25%);
}

#login-inputs button {
	margin-top: 10px;
	border-radius: 7px;
	padding: .75rem 2rem;
	background-color: green;
	color: #fff;
	box-shadow: 3px 4px 0px 0px #a8c884;
	font-size: 1.2rem;
}

#login-inputs button:hover {
	color: green;
	background-color: #eee;
	cursor: pointer
}

#login-inputs input {
	padding: 10px;
	margin: 10px;
	width: 300px;
}

#login-logo {
	margin-left: 10%;
}

#logo {
	width: 120px;
	height: 120px;
	border: 1px solid #000;
	padding: 10px;
	border-radius: 20px;
}

.logout{
	list-style-type: none;
	color: #000;
	font-size: 2rem;
	width: 200px;
	margin: auto;
	display: block;
	text-align: center;
}

#logout-icon {
	margin-top: 10px;
	border-radius: 7px;
	padding: .75rem 2rem;
	background-color: green;
	color: #fff;
	box-shadow: 3px 4px 0px 0px #a8c884;
	font-size: 1.2rem;
}

#logout-icon:hover {
	color: green;
	background-color: #eee;
}

.master-player {
	padding-left: 200px;
}

.music-library-title {
	width: 600px;
	font-weight: bold;
	padding-left: 100px;
	color: green;
}

nav {
	background-color: #fff;
	height: 200px;
}

.player {
	padding-top: 900px;
}

.pop-up {
	padding: 20px;
}

.register-form {
	padding-top: 400px;
}

.results {
	padding-top: 250px;
}

.search {
	padding-top: 400px;
}

.search-card {
	max-width: 450px;
	border: 2px solid green;
	margin: 100px auto 50px auto;
}

.search-form {
	display: flex;
	justify-content: space-around;
}

.show{
	background-color: #fff;
}

#social-icons {
	display: flex;
	font-size: 2rem;
	margin: auto;
	justify-content: space-between;
}

#social-icons a {
	padding: 0 20px 0 20px;
	margin-right: 10px;
	color: #000;
}

#social-icons a:hover {
	color: red;
	cursor: pointer;
}

#speaker-icon {
	color: green;
	position: absolute;
	left: 180px;
	top: -11px;
}

table {
	width: 75%;
	margin: 20px auto 100px auto;
	padding-top: 60px;
}

#table-header-row{
	background-color: #000;
	color: #fff;
}

#table-header-row th{
		padding: 20px;
		font-size: 1.2rem
}

#table-body-row td {
	border: 1px solid;
	padding: 10px;
	font-size: 1rem
}

#time-display::before {
	content: '00:'
}

.top-player{
	padding-top: 270px;
	position: fixed;
	background-color: #fff;
	width: 100%;
	z-index: 1;
	border-bottom: 5px solid lightgrey;
}

.track-edit {
	margin-top: 400px;
	background-color: red;
}

.track-scroll {
	padding-top: 800px;
}

#track-title {
	font-size: 1.5rem;
	color: #61892f;
	font-weight: bold;
}

.trash-button {
	border: none;
	cursor: pointer;
	background-color: #d3d3d300;
	color: red;
}

#username, #password {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.8);
	margin: 0 0 10px 0;
	font-size: 1rem;
}

.video__item {
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translateX(-50%);
	border: 1px solid grey;
	box-shadow: 15px 10px 5px black;
}

#volume i{
	font-size: 1.5rem;
	padding-left: 10px;
	position: relative;
}

#volume-slider{
	position: relative;
	top: 10px;
}

#waveform {
	overflow: hidden;
	margin: 30px auto 30px auto;
}

#waveform-group {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}






@media screen and (max-width: 1100px){
	#controls {
		padding: 6px;
		box-shadow: 4px 4px 0px 0px black;
		margin-top: 30px;
	}

	#controls > i {
		padding: 10px 20px;
		font-size: 1.2rem;
	}

	.download-icon {
		font-size: 30px;
		padding-left: 20px;
		padding-right: 20px;
	}

	#info-display {
		flex-direction: column;
		width: 95%;
		-ms-align-items: center;
		align-items: center;
	}

	#logo {
		width: 100px;
		height: 100px;
	}

	#logout-icon {
		font-size: 1rem;
		padding: 10px;
	}

	.search-card {
		margin: 20px auto 0px auto;
	}
	
	table {
		margin:  0px auto 50px auto;
	}  

}



@media screen and (max-width: 600px){
	.container {
		max-width: 95%;
		margin: auto;
	}

	#controls {
		border: 1px solid #ccc;
		padding: 30px 10px 10px 10px;
		box-shadow: none;
	}

	#current-track {
		font-size: .75rem;
	}

	footer {
		height: 100px;
	}
	
	footer p {
		text-align: center;
		font-size: .70rem;
	}

	#genres-box {
		padding: 5px;
	}

	#info-display {
		flex-direction: column;
		justify-content: center;
		margin: 50px 0;
		border: none;
		padding: 10px;
		box-shadow: none;
		background-color: #fff;
	}

	#logo {
		width: 70px;
		height: 70px;
		padding: 5px;
	}

	.search-card {
		border: 1px solid green;
	}

	table {
		margin:  0px auto;
	}

	#table-header-row th{
		padding: 10px;
		font-size: .75rem
	}

	#table-body-row td {
		padding: 5px;
		font-size: .70rem
	}

	#track-title {
		font-size: 1.4rem;
		max-width: 400px;
		text-align: center;
		font-weight: bold;
	}

	#time-display {
	padding: 20px;
	}

	#waveform {
		margin: 10px auto 40px auto;
	}
}


/* 
$htLightGreen: #C9DD4B; 
$htMediumGreen: #5f7030; 	
$htDarkGreen: #61892f;  
$htLightGrey: #999999; 
$htMediumGrey: #333333;  	 
$htDarkGrey: #1D1D1D;  
$htBlack: rgb(0, 1, 0);
$htBlackOpacity: rgba(0, 1, 0, 0.96);
$htWhite: #F5F5F5;   
$htNewGreen: #6b6e70;
$htNewGreen2: #474b4f; 
*/

